.header {
  @apply w-full px-4 py-4;
  height: 50px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

.header--white {
  @apply bg-white;
}

.header--green {
  @apply bg-gpgreen;
}

.logo {
  @apply object-contain;
  height: 20px;
  z-index: 1;
}

.header--white .logo--white {
  display: none;
}

.header--green .logo--green {
  display: none;
}
