@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,700,900');
@import 'normalize.css';
/* purgecss start ignore */
@import 'flexboxgrid/css/flexboxgrid.min.css';
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@import './components/base.css';
@import './components/header.css';
@import './components/footer.css';
@import './components/form.css';
/* page styles */
@import './pages/preference.css';

.speakers {
  @apply w-full my-8 flex;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row;
  flex-wrap: wrap;
}

.speaker {
  @apply flex flex-col items-center overflow-hidden text-center;
}

.speaker__avatar {
  @apply rounded-full h-32 w-32 flex-shrink-0 object-cover;
}
.speaker p {
  display: none;
}

.speaker + .speaker {
  margin-left: 20px;
}

.participants {
  @apply flex-1;
}

.badge {
  @apply relative;
}

.line {
  @apply h-px bg-gray-400 w-11/12 my-8;
}

.absolute-full {
  @apply absolute top-0 left-0 w-full h-full;
}

.hero-overlay {
  @apply bg-cover bg-center bg-no-repeat;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.07);
}

.hero-banner {
  @apply bg-cover bg-center bg-no-repeat;
  z-index: -2;
  background-image: url('https://peoplevsoil.org/zh-HK/assets/files/shared/slideshow/GP0STPBDA_PressMedia.jpg');
}

.article {
  @apply py-6;
}

.text {
  @apply text-base tracking-wide mb-4;
}

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

@import './utilities/enform.scss';
