/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;700&family=Noto+Sans+TC:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');
/* normalize.css */
@import 'normalize.css';
@import 'flexboxgrid/css/flexboxgrid.min.css';
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@import './components/index';
/* page styles */
@import './pages/index';
/* custom styles */
.text {
  @apply text-base tracking-wide mb-4;
}
.credit-line {
  @apply text-sm pt-2;
}

.line {
  @apply my-4;
}

.speaker h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
.speaker__avatar {
  max-width: 220px;
  margin: 0 20px;
}
/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

@import './utilities/index';
